/* GENERAL */

body, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #efe9e1;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    min-width: 1000px;
}

/* HEADER STYLING */

#current {
    display: flex;
    background-color: white;
    border-bottom: 20px solid #EBC445;
    color: black;
}

#currentLocation {
    font-size: 7em;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: auto;
    margin-left: 250px;
    white-space: nowrap;
}

#currentDate {
    letter-spacing: 10px;
    margin-left: 250px;
    position: absolute;
    margin-top: 137px;
}

#currentTemp {
    font-size: 7em;
    margin: 0 20px;
}

.loadingIcon {
    width: 75px;
    position: absolute;
    top: calc(50% - 37px);
    right: calc(50% - 37px);
}

/* CARD STYLING */

#threeDayForecast {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 20px;
    margin-left: 50px;
}

.card {
    padding: 20px;
    margin: 50px 0;
    width: 200px;
    border-radius: 0px 0px 20px 20px;
    z-index: 100000;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.dayHeader {
    font-size: 3em;
    width: 200px;
    border-radius: 20px 20px 0 0;
    transition: .3s;
    z-index: 1000;
    margin: 0;
    position: absolute;
    top: -58px;
    left: -1px;
}

.weatherIcon {
    margin-top: -20px;
}

.showOnLoad {
    min-width: 150px;
}

.hidden {
    display: none;
}

.summary {
    font-size: 1.5em;
}

    /* Card 1 (Orange) */

    #day0Date {
        background-color: #ffa35c;
    }

    #day0Weather {
        border: 1px solid #ffa35c;
    }

    /* Card 2 (Blue) */

    #day1Date {
        background-color: #76CFEF;
    }

    #day1Weather {
        border: 1px solid #76CFEF;
    }

    /* Card 3 (Green) */

    #day2Date {
        background-color: #B2E596;
    }

    #day2Weather {
        border: 1px solid #B2E596;
    }

/* Card on hover shadowbox/grow effect */

.card::after {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card:hover {
    cursor: pointer;
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
}

.card:hover::after {
    opacity: 1;
}


/* CLICK EFFECTS */

/* Card body grows to 700px and height stays at 148.4px when clicked */

.clicked {
    width: 700px;
    height: 148.4px;
}

/* Card header grows to 700px width  when clicked */

.clicked-header {
    width: 700px !important;
}